{% extends "layout.html" %} {% block body %}
<div class="container py-5">
  <!-- For Demo Purpose-->
  <header class="text-center mb-5">
    <h1 class="display-4 font-weight-bold">Who are we?</h1>
  </header>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0">
          <img
            src="https://drive.google.com/thumbnail?id=1Ghq1AxmiBvTDMSTFzzfyuw8S-b6zGtYK"
            alt=""
            class="w-100 card-img-top"
          />

          <div class="p-4">
            <h5 class="mb-0">Kayra Turan</h5>
            <p class="small text-muted">
              3rd Grade Computer Engineering Student
            </p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->

      <div class="card shadow-sm border-0 rounded">
        <div class="card-body p-0">
          <img
            src="https://drive.google.com/thumbnail?id=1GFtsW4cN7Jmi7OHEL-t2FjRe4usZwxuf"
            alt=""
            class="w-100 card-img-top"
          />
          <div class="p-4">
            <h5 class="mb-0">Mehmet Can Özkülekçi</h5>
            <p class="small text-muted">
              4rd Grade Computer Engineering Student
            </p>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item m-0">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
